/* ------------------------------- */
/* _variables.scss
/* ------------------------------- */

//font-color
$main-font-color: #1B224C;
$sub-font-color: #fff;

//font
$main-font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;

//bg-color
$primary-color: #F5A623;
$secondary-color: #1B224C;

