@use "../global" as g;

.blog-l-item {
    height: 179px;
    &__link {
        display: flex;
    }
    &__img-block {
        position: relative;
        margin-right: 50px;
    }
    &__img-label {
        position: absolute;
        width: 80px;
        height: 28px;
        line-height: 28px;
        background-color: g.$secondary-color;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
    }
    &__img {
        width: 240px;
        height: 179px;
    }
    &__contents {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__date {
        font-size: 1.2rem;
    }
    &__title {
        font-size: 2.6rem;
        font-weight: 600;
        text-decoration: underline;
        line-height: calc(21 / 16);
    }
    &__text {
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}
