@use "../global" as g;

.news-item {
    height: 64px;
    font-size: 1.6rem;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
    &__atag {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        @include g.mq(md) {
            flex-direction: column;
        }
    }
    &__date {
        min-width: 86px;
        margin-right: 5%;
        @include g.mq(md) {
            font-size: 1.2rem;
        }
        @include g.mq(sm) {
            font-size: 1rem;
        }
    }
    &__title {
        text-decoration: underline;
        @include g.mq(md) {
            margin-top: 7px;
            font-size: 1.2rem;
        }
    }
}
