@use "../global" as g;

.price-list{
    &__inner{
        padding-top: 112px;
        @include g.mq(md) {
            padding-top: 80px;
        }
    }
    &__title{
        @include g.titleFont();
        color: g.$secondary-color;
        text-align: center;
    }
    &__plans{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 62px;
        @include g.mq(md) {
            margin-top: 30px;
        }
    }
}