@use "../global" as g;

.single {
    display: flex;
    @include g.mq(md) {
        flex-direction: column;
        align-items: center;    
    }
    &__main {
        margin-top: 60px;
        margin-right: 36px;
        @include g.mq(md) {
            margin-right: 0;
        }
    }
    &__side{
        margin-top: 60px;
    }
}
